extends ../layout
block content
  .row
    .col-2
    .col-8.my-3
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
          li(data-target='#carouselExampleIndicators' data-slide-to='1')
          li(data-target='#carouselExampleIndicators' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/uploads/'+novels[0].image alt='First slide',height="500px")
            .carousel-caption.d-none.d-md-block
              h5=novels[0].name
            
          .carousel-item
            img.d-block.w-100(src='/uploads/'+novels[1].image alt='Second slide',height="500px")
            .carousel-caption.d-none.d-md-block
              h5=novels[1].name
          .carousel-item
            img.d-block.w-100(src='/uploads/'+novels[2].image alt='Third slide',height="500px")
            .carousel-caption.d-none.d-md-block
              h5=novels[2].name
        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    .col-2
    

  .container.mt-4
    h3 Newly Added
    .contain
      .row
        .row__inner
          each item in novels
              .tile
                a(href="#")
                  .tile__media
                    img.tile__img(src='/uploads/'+item.image alt='')
                  .tile__details
                    .tile__title.mb-4=item.name
                  
                    .tile__title2=item.genre
    h3 Completed Stories
    .contain
      .row
        .row__inner
          each item in completed
              .tile
                a(href="#")
                  .tile__media
                    img.tile__img(src='/uploads/'+item.image alt='')
                  .tile__details
                    .tile__title.mb-4=item.name
                  
                    .tile__title2=item.genre
    h3 You'll also like
    .contain
      .row
        .row__inner
          each item in completed
              .tile
                a(href="#")
                  .tile__media
                    img.tile__img(src='/uploads/'+item.image alt='')
                  .tile__details
                    .tile__title.mb-4=item.name
                  
                    .tile__title2=item.genre
    

              

    a(href="/api/genre/new") create new genre
    
