extends ../layout

block content
    if novel.length != 0
        .row
            .col-1
            .col-5
                img.img-fluid(src='/uploads/'+novel.image alt='Responsive image')
            .col-6
                | Name <strong>#{novel.name}</strong><br>
                | Genre <strong>#{novel.genre}</strong><br>
                | Written by <strong>#{user_info.name}</strong><br><br>
                | <h5>Theme of the story</h5>
                | <em>#{novel.theme}</em>
        hr.mx-4
        .row
            .col-1
            .col-5
                if chapters.length != 0
                    a.btn.orange.mr-2(href="/api/chapters/"+chapters[0]._id.toString())
                        | Read Now 
                if(library.length == 0)
                    a.btn.orange(href="/api/library/add?novel_id="+novel._id)
                        | Add To Library
                else
                    a(href="/api/library/delete/"+novel._id,class="btn btn-danger")
                        | Remove From Library
                    
            .col-6
                if novel.user_id[0]==user._id.toString()
                    a(href="/api/novels/edit/"+novel._id,class="btn btn-warning float-right white-text mr-4") Edit
                    a(href="/api/novels/delete/"+novel._id,class="btn btn-danger float-right white-text mr-4") Delete
                    a(href="/api/chapters/new/"+novel._id,class="btn btn-success float-right white-text mr-4") Add New Chapter
        .row
            .col-1
            .col-11
                h2.text-center.mb-4 Table Of Contents
                .row
                    .col-2
                    .col-8
                        if chapters.length !=0
                            .card
                                each item in chapters
                                    a(href="/api/chapters/"+item._id)
                                        h5.text-center=item.title
                        else
                            h5.text-center This Novel Does Not Have Any Chapters Yet
                            
                    .col-2
    
        
               
    
